.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    background-color: aliceblue;
    width: 75vw;
    height: 78vh;
}
a{
    color: #1BC3A7;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    opacity: 0.9;
    text-decoration: underline;
}
.div_bemvindo{
    border: solid white;
    display: flex;
    flex-direction: column;
    background-color: #1BC3A7;
    width: 35%;
    align-items: center;
    justify-content: center;
    color: white;
    & h1{
        font-size: 3em;
        margin-bottom: 1em;
    }

    & p{
        font-size: 1.4em;
    }
    
    & img{
        width: 40vh;
    }
}

form{
    display: flex;
}
.titulo{
    & h1{
        padding: 0;
    }
}
   
.nome_form{
    & input{
        width: 40vw;
    }
}
.doisxdois{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    & input{
      width: 20vw;
    }
}